<a id="logo" href="/">
    <img src="/static/assets/images/home_logo.png" alt="logo"/>
</a>
<div id="buttons">
    <a onclick="scrollTarget('products')">
        <img src="/static/assets/images/button/products.png" alt="Products">
    </a>
    <a onclick="scrollTarget('tumblrs')">
        <img src="/static/assets/images/button/tumblrs.png" alt="Tumblrs">
    </a>
    <a onclick="scrollTarget('onesies')">
        <img src="/static/assets/images/button/onesies.png" alt="Onesies">
    </a>
    <a onclick="scrollTarget('plushies')">
        <img src="/static/assets/images/button/plushies.png" alt="Plushies">
    </a>
</div>
<div id="popup_buttons">
    <div id="cart_button">
        <a href="/page/cart">
            <img src="/static/assets/images/cart_icon.png" alt="cart"/>
        </a>
    </div>
    <div id="account_button">
        <a>
            <img src="/static/assets/images/account.webp" alt="account"/>
        </a>
    </div>
</div>
<div id="popup">
    <div id="account">
        <a>
            <div id="account_container">
                <div id="account_img">
                    <img src="/static/assets/images/account.webp" alt="account"/>
                </div>
                <div id="account_info">
                    <div id="account_name">Jessy Rod</div>
                    <div id="account_username">jessymar07</div>
                </div>
            </div>
        </a>
    </div>

    <div class="breakpoint"></div>

    <div id="seller">
        <a>
            <div id="seller_container" class="container">
                <div id="seller_img" class="container_img">
                    <img src="/static/assets/images/navbar/seller.png" alt="seller"/>
                </div>
                <div id="seller_text" class="container_text">Seller Studio</div>
            </div>
        </a>
    </div>

    <div class="breakpoint"></div>

    <div id="orders">
        <a>
            <div id="orders_container" class="container">
                <div id="orders_img" class="container_img">
                    <img src="/static/assets/images/navbar/orders.png" alt="orders"/>
                </div>
                <div id="orders_text" class="container_text">Orders</div>
            </div>
        </a>
    </div>
    <div id="settings">
        <a>
            <div id="settings_container" class="container">
                <div id="settings_img" class="container_img">
                    <img src="/static/assets/images/navbar/settings.png" alt="settings"/>
                </div>
                <div id="settings_text" class="container_text">Settings</div>
            </div>
        </a>
    </div>
    <div id="browsing">
        <a>
            <div id="browsing_container" class="container">
                <div id="browsing_img" class="container_img">
                    <img src="/static/assets/images/navbar/history.png" alt="history"/>
                </div>
                <div id="browsing_text" class="container_text">Browsing History</div>
            </div>
        </a>
    </div>
    <div id="devices">
        <a>
            <div id="devices_container" class="container">
                <div id="devices_img" class="container_img">
                    <img src="/static/assets/images/navbar/devices.png" alt="devices"/>
                </div>
                <div id="devices_text" class="container_text">Devices</div>
            </div>
        </a>
    </div>
</div>