@font-face {
    font-family: SalmaPro;
    src: url("/static/assets/fonts/SalmaproMedium-0Wooo.otf") format("opentype");
}

body {
    display: flex;
    flex-direction: row;
    font-family: SalmaPro, serif;
    margin: 0;
    user-select: none;
}

a:hover {
    cursor: pointer;
}

#seller_management_sidebar {
    position: fixed;
    width: 184px;
    height: 100%;
    z-index: 2;
    border-style: solid;
    border-width: 0 2px 0 0;
}

#seller_management_header {
    padding: 16px 0 16px 8px;
    font-size: 1.5rem;
    font-weight: bold;
}

#seller_management_clickable_divs {
    display: flex;
    flex-direction: column;
}

.seller_management_clickable {
    display: flex;
    flex-direction: row;
    padding: 3px 0 3px 8px;
    font-size: 1.2rem;
    img {
        width: 32px;
    }
    div {
        margin-left: 4px;
        position: relative;
        top: 5px;
        cursor: pointer;
    }
}

.seller_management_clickable:hover {
    background-color: lightgray;
}

#seller_management_content {
    position: relative;
    left: 184px;
}

#seller_management_content_header {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    padding: 16px 0 16px 8px;
    border-width: 0 0 2px 0;
    border-style: solid;
    background-color: white;
}

#seller_management_content_title {
    font-size: 1.5rem;
    font-weight: bold;
}

#seller_management_content_body {
    position: absolute;
    top: 64px;
    margin: 8px;
    z-index: 0;
}
