<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR Customs Expressions</title>
    <link rel="stylesheet" href="/static/code/css/home/style.css"/>
    <link rel="stylesheet" href="/static/code/css/item/style.css"/>
</head>
<body>
    <div id="header">
        <a id="logo">
            <img src="/static/assets/images/home_logo.png" alt="logo"/>
        </a>
        <div id="header_icons">
            <a id="header_items" onclick="fetchHomeContent('items')">
                <div>
                    <img src="/static/assets/images/customer_home_items.png" alt="Items">
                </div>
                Items
            </a>
            <a id="header_reviews" onclick="fetchHomeContent('reviews')">
                <div>
                    <img src="/static/assets/images/customer_home_reviews.png" alt="Reviews">
                </div>
                Reviews
            </a>
            <a id="header_about" onclick="fetchHomeContent('about')">
                <div>
                    <img src="/static/assets/images/customer_home_about.png" alt="About">
                </div>
                About
            </a>
            <a id="header_policies" onclick="fetchHomeContent('policies')">
                <div>
                    <img src="/static/assets/images/customer_home_policies.png" alt="Policies">
                </div>
                Policies
            </a>
        </div>
        <a id="popup_icon">
            <img src="/static/assets/images/account.png" alt="account"/>
        </a>
        <div id="popup"></div>
    </div>
    <div id="content"></div>
    <div id="footer"></div>
</body>
<script src="/static/code/js/home/script.js"></script>
</html>