<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR Customs Expressions</title>
    <link rel="stylesheet" href="../../static/code/base/style.css" />
    <link rel="stylesheet" href="../../static/code/home/style.css" />
</head>
<body>
    <div class="header">
        <div class="header_left">
            <img class="logo" alt="JR logo"
                src="../../static/assets/images/home_logo.png"
            />
            <div class="search">
                <form class="search-bar" action="">
                    <input type="text" placeholder="Search" name="q">
                    <button type="submit"><img src="../../static/assets/images/search.png"></button>
                </form>
            </div>
        </div>

        <div class="header_right">
            <div class="cart">
                <div class="text_cart">
                    <span id="text_cart_span">Cart:</span>
                    <span>0 items</span>
                </div>
                <div class="img_cart">

                </div>
            </div>

            <div class="profile">
                <div class="text_profile">
                    <span id="text_profile_span">Account:</span>
                    <span>luisthecoder0511</span>
                </div>
                <div class="img_profile">

                </div>
            </div>

        </div>
    </div>

</body>
</html>