<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR Customs Expressions</title>
    <link rel="stylesheet" href="/static/code/css/home/style.css"/>
</head>
<body>
    <div id="header">
        <a id="logo">
            <img src="/static/assets/images/home_logo.png" alt="logo"/>
        </a>
        <div id="header_icons">
            <a id="header_items">
                <div>
                    <img src="/static/assets/images/customer_home_items.png" alt="Items">
                </div>
                <label>Items</label>
            </a>
            <a id="header_reviews">
                <div>
                    <img src="/static/assets/images/customer_home_reviews.png" alt="Reviews">
                </div>
                <label>Reviews</label>
            </a>
            <a id="header_about">
                <div>
                    <img src="/static/assets/images/customer_home_about.png" alt="About">
                </div>
                <label>About</label>
            </a>
            <a id="header_policies">
                <div>
                    <img src="/static/assets/images/customer_home_policies.png" alt="Policies">
                </div>
                <label>Policies</label>
            </a>
        </div>
        <a id="popup_icon"></a>
        <div id="popup"></div>
    </div>
    <div id="content"></div>
    <div id="footer"></div>
</body>
<script src="/static/code/js/home/script.js"></script>
</html>