<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Content</title>
    <link rel="stylesheet" href="../../../static/code/base/item/style.css" />
</head>
<body>
    <div class="sub-content">
        <div class="items-header">
            <div class="items-title">
                All Items
            </div>
            <div class="item-search">
                <label>
                    <input class="search_text" type="text" placeholder="Search Items">
                </label>
            </div>
        </div>

        <div class="items-content">
            <div class="item-box-group">
                <div class="item-box-div">
                    <div class="item-box">
                        <img class="item-img" alt="Item Image"
                        src="../../../static/assets/images/blank%20highlight.jpg"/>
                        <div class="item-name">
                            Test
                        </div>
                        <div class="item-price">
                            $69.69
                        </div>
                    </div>
                </div>
                <div class="item-box-div">
                    <div class="item-box">
                        <img class="item-img" alt="Item Image"
                        src="../../../static/assets/images/blank%20highlight.jpg"/>
                        <div class="item-name">
                            Test
                        </div>
                        <div class="item-price">
                            $69.69
                        </div>
                    </div>
                </div>
                <div class="item-box-div">
                    <div class="item-box">
                        <img class="item-img" alt="Item Image"
                        src="../../../static/assets/images/blank%20highlight.jpg"/>
                        <div class="item-name">
                            Test
                        </div>
                        <div class="item-price">
                            $69.69
                        </div>
                    </div>
                </div>
                <div class="item-box-div">
                    <div class="item-box">
                        <img class="item-img" alt="Item Image"
                        src="../../../static/assets/images/blank%20highlight.jpg"/>
                        <div class="item-name">
                            Test
                        </div>
                        <div class="item-price">
                            $69.69
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>