iframe {
    border-width: 0;
}

#mcnav_seller_items {
    background-color: rgb(236, 236, 236, 255);
    display: flex;
    flex-direction: column;
}

.seller_items_subheader {
    display: flex;
    height: 60px;
}