<div id="footer_info">
    <div id="footer_help" class="footer_section">
        <div id="footer_column_help" class="footer_column">
            <div class="footer_column_title">
                Help!
            </div>
            <a class="footer_column_link">
                Contact Us
            </a>
            <a class="footer_column_link">
                Accessibility
            </a>
        </div>
    </div>
    <div id="footer_terms" class="footer_section">
        <div id="footer_column_terms" class="footer_column">
            <div class="footer_column_title">
                Legal Use
            </div>
            <a class="footer_column_link">
                Terms of Use
            </a>
            <a class="footer_column_link">
                Privacy Policy
            </a>
            <a class="footer_column_link">
                Credits
            </a>
            <a class="footer_column_link">
                Do NOT sell our website!
            </a>
        </div>
    </div>
    <div id="footer_contacts" class="footer_section">
        <div id="footer_column_contacts" class="footer_column">
            <div class="footer_column_title">
                Contact us
            </div>
            <div class="footer_column_images">
                <a class="footer_column_images_insta">
                    <img src="/static/assets/images/contacts/insta.png" alt="insta">
                </a>
                <a class="footer_column_images_facebook">
                    <img src="/static/assets/images/contacts/facebook.png" alt="facebook">
                </a>
                <a class="footer_column_images_youtube">
                    <img src="/static/assets/images/contacts/youtube.png" alt="youtube">
                </a>
                <a class="footer_column_images_pinterest">
                    <img src="/static/assets/images/contacts/pinterest.png" alt="pinterest">
                </a>
            </div>
        </div>
    </div>
</div>
<div id="footer_copyright">
    2025 JR Customs Expressions. All Rights Reserved.
</div>