<a id="logo" href="/">
    <img src="/static/assets/images/home_logo.png" alt="logo"/>
</a>
<div id="buttons">
    <a onclick="scrollTarget('products')">
        <img src="/static/assets/images/button/products.png" alt="Products">
    </a>
    <a onclick="scrollTarget('tumblrs')">
        <img src="/static/assets/images/button/tumblrs.png" alt="Tumblrs">
    </a>
    <a onclick="scrollTarget('onesies')">
        <img src="/static/assets/images/button/onesies.png" alt="Onesies">
    </a>
    <a onclick="scrollTarget('plushies')">
        <img src="/static/assets/images/button/plushies.png" alt="Plushies">
    </a>
</div>
<div id="popup_buttons">
    <div id="cart_button">
        <a href="/page/cart">
            <img src="/static/assets/images/cart_icon.png" alt="cart"/>
        </a>
    </div>
    <div id="account_button">
        <a>
            <img src="/static/assets/images/account.webp" alt="account"/>
        </a>
    </div>
</div>
<div id="popup"></div>