body {
    margin: 0;
}

a:hover {
    cursor: pointer;
}

.seller_divs {
    display: flex;
    height: 100vh;
}

.seller_sidebar {
    border-style: solid;
    border-color: darkgray;
    border-width: 0 1px 0 0;
    display: flex;
    flex-direction: column;
}

.seller_sidebar_header {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 12px;
    user-select: none;
}

.seller_sidebar > a {
    display: flex;
    padding: 6px 12px
}

.seller_sidebar > a > div > img {
    width: 28px;
    position: relative;
    top: 3px;
    user-select: none;
}

.seller_sidebar_orders_img > img {
    left: 3px;
}

.seller_sidebar > a > div > sub {
    font-weight: normal;
    font-size: 1.375rem;
    user-select: none;
    position: relative;
    top: 3px;
    left: 12px;
}

.seller_sidebar > a:hover{
    background-color: lightgray;
}

.seller_sidebar_account {
    margin-top: auto;
}