body {
    margin: 0;
    user-select: none;
}

a:hover {
    cursor: pointer;
}

label:hover {
    cursor: pointer;
}

#header {
    display: flex;
    z-index: 1;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.2);
}

.img {
    display: inline-block;
}

#img-logo {
    margin: 4px;
}

#img-logo > img {
    width: 68px;
    height: 68px;
}

#img-account {
    margin: 10px;
}

#img-account > img {
    width: 56px;
    height: 56px;
}

#labels {
    display: flex;
    font-weight: bold;
    font-size: 1.05rem;
    margin: auto;
    text-align: center;
}

#labels > a {
    margin: 6px 12px;
}

#labels > a:hover {
    color: cornflowerblue;
}

#labels > a > div {
    margin: auto;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    width: 42px;
    height: 42px;
}

#button-items > div > img {
    position: relative;
    top: 5px;
    width: 35px;
    height: 35px;
}

#button-reviews > div > img {
    position: relative;
    right: 2px;
    width: 46px;
    height: 46px;
}

#button-about > div > img {
    position: relative;
    top: 4px;
    width: 35px;
    height: 35px;
}

#button-policies > div > img {
    position: relative;
    top: 3px;
    left: 2px;
    width: 38px;
    height: 38px;
}

#account-popup {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    right: 10px;
    width: fit-content;
    border-radius: 10px;
    z-index: 2;
    box-shadow: 0 2px 6px 2px rgb(0, 0, 0, 0.2);
}

#account-popup > *:not(.account-popup-br) {
    padding: 8px 12px 8px 2px;
    display: flex;
    flex-direction: row;
}

#account-popup > a:hover {
    background-color: lightgray;
}

#account-popup-guest {
    margin: auto;
}

.account-popup-div-name-text {
    margin-left: 8px;
    font-size: 1.35rem;
}

.account-popup-div-text {
    margin-left: 8px;
    font-size: 1.15rem;
}

#account-popup-name > div > img {
    width: 48px;
    margin-left: 8px;
}

.account-popup-br {
    margin: 8px 0;
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;
}

#account-popup > a:not(#account-popup-name) > div > img {
    width: 24px;
    margin-left: 8px;
}