<div id="replace_content">
    <div id="item_current_div">
        <h1 id="item_current_header">Item name</h1>
        <div id="item_current_img">
            <img src="/static/assets/images/blank highlight.jpg" alt="blank"/>
        </div>
        <div id="item_current_name">Item name</div>
        <div id="item_current_price">$##.##</div>
        <div id="item_current_quantity">In Stock</div>
        <div id="item_current_reviews">
            <div id="item_current_reviews_stars">
                <img class="review_star" src="/static/assets/images/review_star_full.png" alt="full"/>
                <img class="review_star" src="/static/assets/images/review_star_full.png" alt="full"/>
                <img class="review_star" src="/static/assets/images/review_star_full.png" alt="full"/>
                <img class="review_star" src="/static/assets/images/review_star_half.png" alt="half"/>
                <img class="review_star" src="/static/assets/images/review_star_blank.png" alt="blank"/>
            </div>
            <div id="item_current_reviews_text">4 stars (4 reviews)</div>
        </div>
        <div id="item_current_description">

        </div>
        <a id="item_current_button">

        </a>
    </div>
</div>
<script src="/static/js/customer/item.js"></script>
<link rel="stylesheet" href="/static/css/customer/item.css"/>