<div id="replace_content">
    <h1>Search for item</h1>
    <div id="search_box">
        <label>
            <input id="search_input" type="text" placeholder="Search">
        </label>
        <a id="search_enter" onclick="loadItems(true)">
            <img src="/static/assets/images/search.png" alt="Search"/>
        </a>
    </div>
    <div id="item_filter">
        <a id="filter_new">Brand New!</a>
        <a id="filter_featured">Featured</a>
        <a id="filter_categories">Categories</a>
        <a id="filter_price">Price</a>
        <a id="filter_quantity">Quantity</a>
    </div>
    <div id="item_content">
        <div id="item_container"></div>
    </div>
</div>
<link rel="stylesheet" href="/static/css/customer/items.css"/>
<link rel="stylesheet" href="/static/css/customer/item_template.css"/>
<script src="/static/js/customer/items.js"></script>
