<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR Customs Expressions - Checkout</title>
</head>
<body>
<!--    <div id="template">-->
<!--        <img src="/static/assets/images/blueprint_templates/checkout.png"/>-->
<!--    </div>-->
    <div id="header">
        <img src="/static/assets/images/home_logo.png">
        <div id="checkout_text">Checkout</div>
    </div>
    <div id="steps">
        Shipping > Payment > Complete
    </div>
    <div id="content">
        <div id="shipping_details">
            <div id="title">
                Shipping
            </div>
            <div class="input_box_group">
                <div class="input_box_1">
                    <div class="input_box_title">
                        First Name
                    </div>
                    <label for="input_first_name"></label>
                    <input class="input_box_input" id="input_first_name"/>
                </div>
                <div class="input_box_2">
                    <div class="input_box_title">
                        Last Name
                    </div>
                    <label for="input_last_name"></label>
                    <input class="input_box_input" id="input_last_name"/>
                </div>
            </div>
            <div class="input_big_box">
                <div class="input_big_box_title">
                    Address
                </div>
                <label for="input_address"></label>
                <input class="input_big_box_input" id="input_address"/>
            </div>
            <div class="input_big_box">
                <div class="input_big_box_title">
                    State
                </div>
                <label for="input_state"></label>
                <input class="input_big_box_input" id="input_state"/>
            </div>
            <div class="input_big_box">
                <div class="input_big_box_title">
                    City
                </div>
                <label for="input_city"></label>
                <input class="input_big_box_input" id="input_city"/>
            </div>
            <div class="input_big_box">
                <div class="input_big_box_title">
                    Postal Code
                </div>
                <label for="input_postal"></label>
                <input class="input_big_box_input" id="input_postal"/>
            </div>
            <div class="input_big_box">
                <div class="input_big_box_title">
                    Phone
                </div>
                <label for="input_phone"></label>
                <input class="input_big_box_input" id="input_phone"/>
            </div>
            <div class="input_big_box">
                <div class="input_big_box_title">
                    Email
                </div>
                <label for="input_email"></label>
                <input class="input_big_box_input" id="input_email"/>
            </div>
        </div>
        <div id="summary_details">
            <div id="summary_box">
                <div id="summary_title">
                    Cart Summary
                </div>
                <div id="summary_product">
                    <div id="summary_product_quantity">
                        20
                    </div>
                    <div id="summary_product_name">
                        Plushy Big Ducky
                    </div>
                    <div id="summary_product_price">
                        $6.99
                    </div>
                </div>
                <div class="summary_br"></div>
                <div id="summary_"
            </div>
        </div>
    </div>
</body>

<script src="/static/js/A_global/global.js"></script>
<script src="/static/js/customer/order_checkout.js"></script>

<link rel="stylesheet" href="/static/css/A_global/global.css"/>
<link rel="stylesheet" href="/static/css/customer/order_checkout.css"/>

</html>