<div id="dashboard">
    <a class="sidebar_button">
        <img src="/static/assets/images/navbar/home.webp" alt="dashboard"/>
        <div class="sidebar_text">Dashboard</div>
    </a>
</div>
<div id="customize">
    <a class="sidebar_button">
        <img src="/static/assets/images/navbar/customize.png" alt="dashboard"/>
        <div class="sidebar_text">Customize</div>
    </a>
</div>
<div id="products">
    <a class="sidebar_button">
        <img src="/static/assets/images/navbar/products.png" alt="dashboard"/>
        <div class="sidebar_text">Products</div>
    </a>
</div>
<div id="reviews">
    <a class="sidebar_button">
        <img src="/static/assets/images/navbar/reviews.png" alt="dashboard"/>
        <div class="sidebar_text">Reviews</div>
    </a>
</div>
<div id="finances">
    <a class="sidebar_button">
        <img src="/static/assets/images/navbar/finance.png" alt="dashboard"/>
        <div class="sidebar_text">Finances</div>
    </a>
</div>
<div id="reports">
    <a class="sidebar_button">
        <img src="/static/assets/images/navbar/reports.png" alt="dashboard"/>
        <div class="sidebar_text">Reports</div>
    </a>
</div>