<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRCustomsExpressions</title>
    <link rel="stylesheet" href="../../../static/styles/customer/home/style.css" />
</head>
<body>

    <nav class="header"></nav>
    <script src="../../../static/scripts/customer/mcnav/header/script.js"></script>

    <img class="home_logo" alt="JR logo"
        src="../../../static/assets/images/jr_second_logo.png"
    />

    <div class="navbar">
        <a class="Items" onclick="itemsHTML()">
            Items
        </a>
        <a class="Reviews" onclick="reviewsHTML()">
            Reviews
        </a>
        <a class="Shop Policies">
            Shop Policies
        </a>
        <div class="contact-div">
            <a class="contact-link">
                Contact Me
            </a>
        </div>
    </div>

    <nav class="sub-content"></nav>
    <script src="../../../static/scripts/customer/mcnav/items/script.js"></script>
</body>
<script src="../../../static/scripts/customer/mcnav/reviews/script.js"></script>
</html>