@font-face {
    font-family: SalmaPro;
    src: url("/static/assets/fonts/SalmaproMedium-0Wooo.otf") format("opentype");
}

body {
    font-family: SalmaPro, serif;
    margin: 0;
    user-select: none;
}

a:hover {
    cursor: pointer;
}

#header {
    padding: 8px 8px 0 8px;
    display: flex;
    z-index: 2;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.2);
}

#header_icons {
    display: flex;
    font-size: 1.05rem;
    margin: auto;

    a {
        border-style: solid;
        border-width: 2px;
        border-color: gray;
        margin: 4px;
        padding: 4px;
        text-align: center;

        div {
            margin: auto;
            border-width: 2px;
            border-style: solid;
            border-radius: 50%;
            width: 48px;
            height: 48px;
        }

        label {
            cursor: pointer;
        }
    }
}

#header_items > div > img {
    margin-top: 4px;
    width: 40px;
    height: 40px;
}

#header_reviews > div > img {
    margin-top: 1px;
    width: 48px;
    height: 48px;
}

#header_about > div > img {
    margin-top: 4px;
    width: 40px;
    height: 40px;
}

#header_policies > div > img {
    margin-top: 4px;
    margin-left: 4px;
    width: 42px;
    height: 42px;
}

#popup_icon {
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    margin: 8px;
    width: 56px;
    height: 56px;
    img {
        margin: 8px;
        width: 40px;
    }
}

#content {
    padding: 8px;
    z-index: 1;
}