#welcome {
    background-color: rgb(255, 230, 230, 255);
    padding: 8px;
    z-index: 0;

    #home_logo {
        display: flex;
        max-width: 400px;
        width: 35%;
        min-width: 250px;
        margin: auto;
    }

    #welcome_buttons {
        display: flex;
        justify-content: center;
        div {
            font-size: 1.1rem;
            display: flex;
            width: 80px;
            height: 34px;
            margin: 4px;
            border-radius: 20px;
            border-style: solid;
            border-width: 2px;
            border-color: gray;

            a {
                width: 80px;
                height: 34px;
                text-align: center;
                line-height: 200%;
            }
        }
    }
}

#products {
    border-style: solid;
    border-color: darkgray;
    border-width: 2px 0;

    #products_header {
        padding: 12px;

        #products_header_title {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 10px 0 24px 0;
        }

        #products_header_input {
            display: flex;
            justify-content: space-between;

            #products_header_search {
                display: flex;
                margin: 0 8px;

                #products_header_search_button {
                    width: 32px;
                    height: 32px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: gray;
                }

                #products_header_search_image {
                    width: 24px;
                    margin: 4px;
                }

                #products_header_search_input {
                    border-radius: 0;
                    border-style: solid;
                    border-width: 1px;
                    font-size: 1.05rem;
                }
            }

            #products_header_filter {
                display: flex;
                font-size: 0.95rem;
                a {
                    border-style: solid;
                    border-color: gray;
                    border-width: 1px;
                    margin-right: 6px;
                    padding: 6px;
                    background-color: white;
                }
            }
        }
    }

    #products_content {
        padding: 12px;

        border-style: solid;
        border-color: darkgray;
        border-width: 1px 0 0 0;

        #products_content_header {
            display: flex;
            font-size: 0.95rem;
            justify-content: space-between;
            margin: 0 8px 8px 8px;

            #products_content_header_page {
                display: flex;

            }
        }

        #products_content_results {
            display: flex;
            font-size: 0.95rem;
            margin: 8px;
            overflow-x: auto;
            .product_template {
                margin: 8px 20px 8px 0;
                max-width: 225px;
                width: 21%;
                min-width: 150px;
                padding: 0 0 4px 0;
                border-width: 2px;
                border-style: solid;
                border-color: gray;
                a {
                    img {
                        width: 100%;
                        border-width: 0 0 2px 0;
                        border-style: solid;
                        border-color: gray;
                    }
                    .product_template_name {
                        height: 60px;
                        padding: 0 4px;
                    }

                    div:not(.product_template_name) {
                        font-size: 0.85rem;
                        padding: 0 4px;
                    }
                }
            }
        }
    }
}

.promotion {
    display: flex;
    padding: 30px 12px;
    justify-content: center;

    .promotion_labels {
        display: flex;
        flex-direction: column;
        margin: auto 24px;
        max-width: 300px;
        text-align: center;

        div {
            margin: 8px 0;
        }

        .promotion_title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .promotion_description {
            font-size: 1.1rem;
        }

        .promotion_button {
            display: flex;
            border-style: solid;
            border-color: gray;
            border-width: 2px;
            width: 150px;
            height: 50px;
            margin: 8px auto;
            background-color: rgb(232, 232, 232, 255);
            a {
                font-size: 1.1rem;
                width: 150px;
                height: 50px;
                line-height: 275%;
            }

        }
    }

    .promotion_image {
        margin: auto 24px;
        img {
            max-width: 600px;
            width: 100%;
        }
    }
}

#tumblrs, #plushies {
    background-color: rgb(255, 192, 203, 255);
}

#onesies {
    background-color: rgb(248, 248, 248, 255);
}

#onesies {
    border-style: solid;
    border-color: darkgray;
    border-width: 2px 0;
}

#about {
    border-style: solid;
    border-color: darkgray;
    border-width: 2px 0;

    padding: 12px;
    #about_header {
        #about_header_title {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 10px 0 24px 0;
        }
    }

    #about_content {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding-bottom: 12px;
        justify-content: center;
        #about_picture {
            max-width: 500px;
            img {
                max-width: 500px;
            }
        }
        #about_text {
            background-color: rgb(255, 192, 203, 255);
            padding: 8px;
            font-size: 1.15rem;
            white-space: pre-wrap;
            max-width: 400px;
        }
    }
}

#reviews {
    #reviews_header {
        padding: 12px;

        #reviews_header_title {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 10px 0 16px 0;
        }
    }

    #reviews_stars {
        text-align: center;
        #reviews_stars_total {
            font-size: 1.2rem;
        }
        #reviews_stars_rating {
            width: 190px;
            margin: auto;
            background-color: gray;
            border-radius: 32px;
            img {
                margin-top: 3px;
                width: 32px;
            }
        }

        #reviews_stars_stats {
            display: flex;
            flex-direction: column;
            max-width: 600px;
            margin: 20px auto;

            div {
                display: flex;

                img {
                    margin-right: 12px;
                    width: 32px;
                }

                .rate_number, .rate_total {
                    margin: 8px;
                }

                .rate_total {
                    width: 32px;
                    justify-content: right;
                }

                .rate_rectangles {
                    display: flex;
                    flex-direction: column;
                    width: 70%;

                    .rate_background, .rate_foreground {
                        margin: auto 8px;
                        height: 12px;
                        border-radius: 32px;
                    }

                    .rate_background {
                        position: relative;
                        top: 12px;
                        background-color: gray;
                    }

                    .rate_foreground {
                        width: 3%;
                        position: relative;
                        bottom: 6px;
                        background-color: red;
                    }
                }
            }
        }
    }
}