body {
    margin: 0;
    user-select: none;
}

a:hover {
    cursor: pointer;
}

.select_edit_option {
    display: flex;
    height: 40px;
    margin: 12px;
    font-size: 1.3rem;
}

.select_edit_option > a {
    background-color: white;
    padding: 6px 12px;
    width: fit-content;
    border-radius: 2px;
    border-width: 1px;
    border-color: darkgray;
    border-style: solid;
}

.select_edit_option > a:hover {
    background-color: lightgray;
}

#seller_item_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.seller_item_a {
    width: 200px;
    height: 320px;
    display: flex;
    flex-direction: column;
    margin: 12px;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    background-color: white;
}

.seller_item_bottom_div {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: gray;
    border-width: 0;
    border-top-width: 2px;
}

.seller_item_bottom_div > label {
    margin-left: 4px;
    cursor: pointer;
} label:not(.seller_item_title){
    font-size: 1.25rem;
}

.seller_item_title {
    margin-top: 2px;
    font-size: 1.5rem;
    font-weight: bold;
}

.seller_item_active {
    margin-top: 16px;
}

.seller_item_top_div {
    width: 200px;
    height: 200px;
}

.seller_item_top_div > img {
    width: 200px;
    height: 200px;
}