<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR Expressions</title>
    <link rel="stylesheet" href="/static/styles/seller/add/style.css" />
</head>
<body>
    <div class="popup-window">
        <div class="popup-title">
            <div class="popup-title-text">
                Add Item
            </div>
        </div>
        <div class="popup-header">
            <div class="popup-header-container">
                <a class="option1">
                    Details
                </a>
                <a class="option2">
                    Others
                </a>
            </div>
        </div>
        <div class="section-details">
            <div class="popup-group">
                <div class="popup-image">
                    <div class="popup-text">
                        Image
                    </div>
                    <input type="file" id="fileInput" style="display:none" accept="image/png">
                    <a onclick="openFile()" class="popup-img">
                        <img id="image_input" src="/static/assets/images/upload_img.png" alt="Image"/>
                    </a>
                </div>
            </div>
            <div class="popup-group">
                <div class="popup-text">
                    Name
                </div>
                <div class="input">
                    <textarea class="input-text" id="name-text" name="text" placeholder="Name" rows="1" cols="10" wrap="soft"></textarea>
                </div>
            </div>
            <div class="popup-group">
                <div class="popup-text">
                    Description
                </div>
                <div class="input">
                    <textarea class="input-text" id="description-text" name="text" placeholder="Description" rows="10" cols="10" wrap="soft"></textarea>
                </div>
            </div>
<!--            <div class="popup-group">-->
<!--                <div class="popup-text">-->
<!--                    Category-->
<!--                </div>-->
<!--                <div class="input">-->
<!--                    <textarea class="input-text" id="category-text" name="text" placeholder="Category" rows="1" cols="10" wrap="soft"></textarea>-->
<!--                </div>-->
<!--            </div>-->
            <div class="popup-group">
                <div class="popup-text">
                    Price
                </div>
                <div class="input">
                    <textarea class="input-text" id="price-text" name="text" placeholder="Price" rows="1" cols="10" wrap="soft"></textarea>
                </div>
            </div>
            <div class="popup-group">
                <div class="popup-text">
                    Quantity
                </div>
                <div class="input">
                    <textarea class="input-text" id="quantity-text" name="text" placeholder="Quantity" rows="1" cols="10" wrap="soft"></textarea>
                </div>
            </div>
            <a id="upload-button-a">
                Upload Button
            </a>
        </div>
        <div class="section-others">

        </div>
    </div>
</body>
<script src="/static/scripts/seller/add/item/script.js"></script>
</html>