<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR Expressions</title>
    <link rel="stylesheet" href="../../../static/code/base/style.css" />
    <link rel="stylesheet" href="../../../static/code/seller/add/style.css" />
</head>
<body>
    <div class="popup-window">
        <div class="popup-title">
            <div class="popup-title-text">
                Upload Item
            </div>
        </div>
        <div class="popup-header">
            <div class="popup-header-container">
                <a class="option1">
                    Details
                </a>
                <a class="option2">
                    Others
                </a>
            </div>
        </div>
        <div class="section-details">
            <div class="popup-group">
                <div class="popup-image">
                    <div class="popup-text">
                        Upload Image
                    </div>
                    <input type="file" id="fileInput" style="display:none">
                    <button onclick="openFile()" class="popup-img">
                        <img src="../../../static/assets/images/upload_img.png" alt="Image"/>
                    </button>
                    <script>
                        function openFile() {
                            document.getElementById("fileInput").click()
                        }
                    </script>
                </div>
            </div>
            <div class="popup-group">
                <div class="popup-text">
                    Name
                </div>
                <div class="input">
                    <textarea class="input-text" id="name-text" name="text" placeholder="Name" rows="1" cols="10" wrap="soft"></textarea>
                </div>
            </div>
            <div class="popup-group">
                <div class="popup-text">
                    Description
                </div>
                <div class="input">
                    <textarea class="input-text" id="description-text" name="text" placeholder="Description" rows="10" cols="10" wrap="soft"></textarea>
                </div>
            </div>
            <div class="popup-group">
                <div class="popup-text">
                    Type
                </div>
                <div class="input">
                    <textarea class="input-text" id="type-text" name="text" placeholder="Type" rows="1" cols="10" wrap="soft"></textarea>
                </div>
            </div>
            <div class="popup-group">
                <div class="popup-text">
                    Price
                </div>
                <div class="input">
                    <textarea class="input-text" id="price-text" name="text" placeholder="Price" rows="1" cols="10" wrap="soft"></textarea>
                </div>
            </div>
            <div class="popup-group">
                <div class="popup-text">
                    Quantity
                </div>
                <div class="input">
                    <textarea class="input-text" id="quantity-text" name="text" placeholder="Quantity" rows="1" cols="10" wrap="soft"></textarea>
                </div>
            </div>
            <div class="upload-button" method="post">
                <button id="upload-button-a">
                    <div class="upload-button-div">
                        Upload Button
                    </div>
                </button>
            </div>
        </div>
        <div class="section-others">
            
        </div>
    </div>
</body>
<script src="../../../static/code/seller/add/scripts/add-item.js"></script>
</html>