<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR Customs Expressions - Seller Management</title>
    <link rel="stylesheet" href="/static/css/seller/base.css"/>
</head>
<body>
    <div id="seller_management_sidebar">
        <div id="seller_management_header">
            Seller Management
        </div>
        <div id="seller_management_clickable_divs">
            <a class="seller_management_clickable" id="seller_management_dashboard"
               onclick="fetchContent('dashboard')">
                <img src="/static/assets/images/dashboard.png"
                     alt="clickable"/>
                <div>Dashboard</div>
            </a>
            <a class="seller_management_clickable" id="seller_management_items"
               onclick="fetchContent('items')">
                <img src="/static/assets/images/search.png"
                     alt="clickable"/>
                <div>Items</div>
            </a>
            <a class="seller_management_clickable" id="seller_management_stats"
               onclick="fetchContent('stats')">
                <img src="/static/assets/images/stats.webp"
                     alt="clickable"/>
                <div>Statistics</div>
            </a>
            <a class="seller_management_clickable" id="seller_management_orders"
               onclick="fetchContent('orders')">
                <img src="/static/assets/images/orders.png"
                     alt="clickable"/>
                <div>Orders</div>
            </a>
            <a class="seller_management_clickable" id="seller_management_settings"
               onclick="fetchContent('settings')">
                <img src="/static/assets/images/settings.png"
                     alt="clickable"/>
                <div>Settings</div>
            </a>
        </div>
        <div id="seller_management_footer">

        </div>
    </div>
    <div id="seller_management_content"></div>
</body>
<script src="/static/js/seller/base.js"></script>
</html>