<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR's Seller Studio - Customize</title>
</head>
<body>
    <div id="header"></div>

    <div id="content">
        <div id="sidebar"></div>
        <div id="customize_content">
            <div id="title">Customize</div>
            <div id="content_header_buttons">
                <div id="left_filler"></div>
                <a id="content_header_banners" class="button">Banners</a>
                <a id="content_header_promos" class="button">Promos</a>
                <a id="content_header_about" class="button">About</a>
                <a id="content_header_policies" class="button">Policies</a>
                <a id="content_header_terms" class="button">Terms</a>
                <a id="content_header_credits" class="button">Credits</a>
                <div id="right_filler"></div>
            </div>
            <div id="customize_subcontent"></div>
        </div>
    </div>
</body>

<script src="/static/js/A_global/global.js"></script>
<script src="/static/js/seller/base.js"></script>
<script src="/static/js/seller/customize.js"></script>

<link rel="stylesheet" href="/static/css/A_global/global.css"/>
<link rel="stylesheet" href="/static/css/seller/base/header.css"/>
<link rel="stylesheet" href="/static/css/seller/base/sidebar.css"/>
<link rel="stylesheet" href="/static/css/seller/customize.css"/>

</html>