<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR's Seller Studio - Finances</title>
</head>
<body>
    <div id="header"></div>

    <div id="content">
        <div id="sidebar"></div>
        <div id="finances_content">
            <div id="title">Finances</div>
            <div id="total_earnings">
                <div class="sub_title">Total Earnings</div>
                <div id="earnings_graph">

                </div>
            </div>
            <div id="product_revenues">
                <div class="sub_title">Product Revenues</div>
                <div id="product_revenues_content">

                </div>
            </div>
        </div>
    </div>
</body>

<script src="/static/js/A_global/global.js"></script>
<script src="/static/js/seller/base.js"></script>
<script src="/static/js/seller/finances.js"></script>

<link rel="stylesheet" href="/static/css/A_global/global.css"/>
<link rel="stylesheet" href="/static/css/seller/base/header.css"/>
<link rel="stylesheet" href="/static/css/seller/base/sidebar.css"/>
<link rel="stylesheet" href="/static/css/seller/finances.css"/>

</html>