<a class="item_a">
    <div class="item_div_selectables">
        <span class="item_div_feature">
            <img src="/static/assets/images/feature.png" alt="feature"/>
        </span>
    </div>
    <img src="/static/assets/images/blank%20highlight.jpg" alt="item"/>
    <div class="item_div_sub">
        <div class="item_div_name">Item Name</div>
        <div class="item_div_quantity">In stock</div>
        <div class="item_div_price">$#.##</div>
    </div>
    <div class="item_div_edit">
        <span class="item_div_edit_trigger">Enable</span>
        <span class="item_div_edit_delete">Delete</span>
    </div>
</a>