<div id="seller_management_replace_content">
    <div id="seller_management_content_header">
        <div id="seller_management_content_title">
            Items
        </div>
        <a id="seller_management_content_add" onclick="fetchSellerContent('content/item_edit')">
            <img src="/static/assets/images/plus_icon.png" alt="add"/>
        </a>
    </div>
    <div id="seller_management_content_body">
<!--        <div id="seller_management_items_select">-->

<!--        </div>-->
        <div id="seller_management_items_container"></div>
    </div>
</div>
<link rel="stylesheet" href="/static/css/seller/items.css"/>
<link rel="stylesheet" href="/static/css/seller/item_template.css"/>
<script src="/static/js/seller/items.js"></script>