<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR's Seller Studio - Reports</title>
</head>
<body>
    <div id="header"></div>

    <div id="content">
        <div id="sidebar"></div>
        <div id="reports_content">
            <div id="title">Reports</div>
            <div id="reports_listing">
                <label for="reports_search"></label><input id="reports_search">

            </div>
        </div>
    </div>
</body>

<script src="/static/js/A_global/global.js"></script>
<script src="/static/js/seller/base.js"></script>
<script src="/static/js/seller/reports.js"></script>

<link rel="stylesheet" href="/static/css/A_global/global.css"/>
<link rel="stylesheet" href="/static/css/seller/base/header.css"/>
<link rel="stylesheet" href="/static/css/seller/base/sidebar.css"/>
<link rel="stylesheet" href="/static/css/seller/reports.css"/>

</html>