<div id="seller_management_replace_content">
    <div id="seller_management_content_header">
        <div id="seller_management_content_title">
            Settings
        </div>
        <div id="seller_management_content_subheader">

        </div>
    </div>
    <div id="seller_management_content_body">
        <div id="seller_management_settings">
            <div class="settings_section" id="settings_account">
                <div class="settings_section_header">
                    Profile
                </div>
                <div class="settings_section_input">
                    <div class="settings_section_input_header">
                        Name
                    </div>
                    <div class="settings_section_input_text">
                        <label for="profile_name_input"></label>
                        <input type="text" id="profile_name_input"/>
                    </div>
                </div>
                <div class="settings_section_input">
                    <div class="settings_section_input_header">
                        Bio
                    </div>
                    <div class="settings_section_input_text">
                        <label for="profile_bio_input"></label>
                        <textarea id="profile_bio_input"></textarea>
                    </div>
                </div>
            </div>

            <div class="settings_section" id="settings_account">
                <div class="settings_section_header">
                    Profile
                </div>
                <div class="settings_section_input">
                    <div class="settings_section_input_header">
                        Name
                    </div>
                    <div class="settings_section_input_text">
                        <label for="profile_name_input"></label>
                        <input type="text" id="profile_name_input"/>
                    </div>
                </div>
                <div class="settings_section_input">
                    <div class="settings_section_input_header">
                        Bio
                    </div>
                    <div class="settings_section_input_text">
                        <label for="profile_bio_input"></label>
                        <textarea id="profile_bio_input"></textarea>
                    </div>
                </div>
            </div>

            <div class="settings_section" id="settings_account">
                <div class="settings_section_header">
                    Profile
                </div>
                <div class="settings_section_input">
                    <div class="settings_section_input_header">
                        Name
                    </div>
                    <div class="settings_section_input_text">
                        <label for="profile_name_input"></label>
                        <input type="text" id="profile_name_input"/>
                    </div>
                </div>
                <div class="settings_section_input">
                    <div class="settings_section_input_header">
                        Bio
                    </div>
                    <div class="settings_section_input_text">
                        <label for="profile_bio_input"></label>
                        <textarea id="profile_bio_input"></textarea>
                    </div>
                </div>
            </div>

            <div class="settings_section" id="settings_account">
                <div class="settings_section_header">
                    Profile
                </div>
                <div class="settings_section_input">
                    <div class="settings_section_input_header">
                        Name
                    </div>
                    <div class="settings_section_input_text">
                        <label for="profile_name_input"></label>
                        <input type="text" id="profile_name_input"/>
                    </div>
                </div>
                <div class="settings_section_input">
                    <div class="settings_section_input_header">
                        Bio
                    </div>
                    <div class="settings_section_input_text">
                        <label for="profile_bio_input"></label>
                        <textarea id="profile_bio_input"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/seller/settings.js"></script>
<link rel="stylesheet" href="/static/css/seller/settings.css"/>