<div id="seller_management_replace_content">
    <div id="stats_items">
        <div id="stats_items_header">
            <div id="stats_items_header_item">
                Item
            </div>
            <div class="stats_items_header_data">
                <div id="header_data_views">
                    Views
                </div>
            </div>
            <div class="stats_items_header_data">
                <div id="header_data_favorites">
                    Favorites
                </div>
            </div>
            <div class="stats_items_header_data">
                <div id="header_data_orders">
                    Orders
                </div>
            </div>
            <div class="stats_items_header_data">
                <div id="header_data_revenue">
                    Revenue
                </div>
            </div>
        </div>
        <div class="stats_items_template">
            <div class="stats_items_item">
                <img class="stats_items_img" src="/static/assets/images/Image_Test_Template.png" alt="test"/>
                <div class="stats_items_name">
                    Test
                </div>
            </div>
            <div class="stats_items_data">
                <div class="data_views">
                    <div class="data_text">
                        0
                    </div>
                </div>
            </div>
            <div class="stats_items_data">
                <div class="data_favorites">
                    <div class="data_text">
                        0
                    </div>
                </div>
            </div>
            <div class="stats_items_data">
                <div class="data_orders">
                    <div class="data_text">
                        0
                    </div>
                </div>
            </div>
            <div class="stats_items_data">
                <div class="data_revenue">
                    <div class="data_text">
                        $0
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/seller/stats.js"></script>
<link rel="stylesheet" href="/static/css/seller/stats.css"/>