<div id="account-popup-name">
    <div class="account-popup-div-name-text">
        Welcome Guest
    </div>
</div>
<div class="account-popup-br"></div>
<a id="account-popup-cart">
    <div>
        <img src="/static/assets/images/cart_icon.png" alt="cart"/>
    </div>
    <div class="account-popup-div-text">
        My Cart
    </div>
</a>
<div class="account-popup-br"></div>
<a id="account-popup-help">
    <div>
        <img src="/static/assets/images/messages.png" alt="help"/>
    </div>
    <div class="account-popup-div-text">
        Help & Support
    </div>
</a>
<a id="account-popup-settings">
    <div>
        <img src="/static/assets/images/settings.png" alt="settings"/>
    </div>
    <div class="account-popup-div-text">
        Settings
    </div>
</a>
<a id="account-popup-sign-in" onclick="window.location.href='/login'">
    <div>
        <img src="/static/assets/images/exit-icon.png" alt="exit"/>
    </div>
    <div class="account-popup-div-text">
        Sign in
    </div>
</a>