<div id="account-popup-name">
    <div>
        <img src="" alt="account"/>
    </div>
    <div>
        <div class="account-popup-div-name-text"></div>
        <div class="account-popup-div-text"></div>
    </div>
</div>
<div class="account-popup-br"></div>
<a id="account-popup-cart">
    <div>
        <img src="/static/assets/images/cart_icon.png" alt="cart"/>
    </div>
    <div class="account-popup-div-text">
        My Cart
    </div>
</a>
<a id="account-popup-order">
    <div>
        <img src="/static/assets/images/orders.png" alt="order"/>
    </div>
    <div class="account-popup-div-text">
        Orders
    </div>
</a>
<div class="account-popup-br"></div>
<a id="account-popup-help">
    <div>
        <img src="/static/assets/images/messages.png" alt="help"/>
    </div>
    <div class="account-popup-div-text">
        Help & Support
    </div>
</a>
<a id="account-popup-settings">
    <div>
        <img src="/static/assets/images/settings.png" alt="settings"/>
    </div>
    <div class="account-popup-div-text">
        Settings
    </div>
</a>
<a id="account-popup-logout">
    <div>
        <img src="/static/assets/images/exit-icon.png" alt="exit"/>
    </div>
    <div class="account-popup-div-text">
        Log out
    </div>
</a>