<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR Customs Expressions</title>
</head>
<body>
    <div id="header">
        <a id="logo" href="/">
            <img src="/static/assets/images/home_logo.png" alt="logo"/>
        </a>
        <div id="buttons">
            <a>
                <img src="/static/assets/images/button_products.png" alt="Products">
            </a>
            <a>
                <img src="/static/assets/images/button_reviews.png" alt="Reviews">
            </a>
            <a>
                <img src="/static/assets/images/button_about.png" alt="About">
            </a>
            <a>
                <img src="/static/assets/images/button_q&a.png" alt="Q&A">
            </a>
        </div>
        <a id="account">
            <img src="/static/assets/images/account.webp" alt="account"/>
        </a>
        <div id="popup"></div>
    </div>
    <div id="welcome">
        <img id=home_logo src="/static/assets/images/jr_home_logo.png" alt="logo"/>
        <div id="welcome_about">
            <a>
                About
            </a>
        </div>
    </div>
    <div id="products">
        <div id="products_header">
            <div id="products_header_title">
                Products
            </div>
            <div id="products_header_input">
                <div id="products_header_search">
                    <label for="products_header_search_input"></label>
                    <input id="products_header_search_input" placeholder="Search Product"/>
                    <a id="products_header_search_button">
                       <img id="products_header_search_image" src="/static/assets/images/search.png" alt="search"/>
                    </a>
                </div>
                <div id="products_header_filter">
                    <a id="products_header_filter_new">
                        New!
                    </a>
                    <a id="products_header_filter_featured">
                        Featured
                    </a>
                    <a id="products_header_popular">
                        Popular
                    </a>
                </div>
            </div>
        </div>
        <div id="products_content">
            <div id="products_content_header">
                <div id="products_content_header_title">
                    Results of "Test"
                </div>
                <div id="products_content_header_page">
                    <div id="products_content_header_page_label">
                        Page 1 of 5
                    </div>
                    <div id="products_content_header_page_nav">
                        something
                    </div>
                </div>
            </div>
            <div id="products_content_results">
                <div class="product_template">
                    <a>
                        <img src="/static/assets/images/Image_Test_Template.png" alt="test"/>
                        <div class="product_template_name">Name of the item</div>
                        <div>$6.99</div>
                        <div>In stock</div>
                    </a>
                </div>
                <div class="product_template">
                    <a>
                        <img src="/static/assets/images/Image_Test_Template.png" alt="test"/>
                        <div class="product_template_name">Name of the item, can be super, super long too.</div>
                        <div>$6.99</div>
                        <div>In stock</div>
                    </a>
                </div>
                <div class="product_template">
                    <a>
                        <img src="/static/assets/images/Image_Test_Template.png" alt="test"/>
                        <div class="product_template_name">Name of the item, can be super, super long too.</div>
                        <div>$6.99</div>
                        <div>In stock</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="reviews">
        <div id="reviews_header">
            <div id="reviews_header_title">
                Reviews
            </div>
        </div>
        <div id="reviews_stars">
            <div id="reviews_stars_total">
                5 stars
            </div>
            <div id="reviews_stars_rating">
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
            </div>
            <div id="reviews_stars_description">
                69 Reviews
            </div>
            <div id="reviews_stars_stats">
                <div id="reviews_stars_stats_5">
                    <div class="rate_number">5</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangle"></div>
                    <div class="rate_total">30</div>
                </div>
                <div id="reviews_stars_stats_4">
                    <div class="rate_number">4</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangle"></div>
                    <div class="rate_total">0</div>
                </div>
                <div id="reviews_stars_stats_3">
                    <div class="rate_number">3</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangle"></div>
                    <div class="rate_total">0</div>
                </div>
                <div id="reviews_stars_stats_2">
                    <div class="rate_number">2</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangle"></div>
                    <div class="rate_total">0</div>
                </div>
                <div id="reviews_stars_stats_1">
                    <div class="rate_number">1</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangle"></div>
                    <div class="rate_total">0</div>
                </div>
            </div>
        </div>
    </div>
    <div id="about">
        <div id="about_header">
            <div id="about_header_title">
                About
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="footer_info">
            <div id="footer_help" class="footer_section">
                <div id="footer_column_help" class="footer_column">
                    <div class="footer_column_title">
                        Help!
                    </div>
                    <a class="footer_column_link">
                        Contact Us
                    </a>
                    <a class="footer_column_link">
                        Accessibility
                    </a>
                </div>
            </div>
            <div id="footer_terms" class="footer_section">
                <div id="footer_column_terms" class="footer_column">
                    <div class="footer_column_title">
                        Legal Use
                    </div>
                    <a class="footer_column_link">
                        Terms of Use
                    </a>
                    <a class="footer_column_link">
                        Privacy Policy
                    </a>
                    <a class="footer_column_link">
                        Credits
                    </a>
                    <a class="footer_column_link">
                        Do NOT sell our website!
                    </a>
                </div>
            </div>
            <div id="footer_contacts" class="footer_section">
                <div id="footer_column_contacts" class="footer_column">
                    <div class="footer_column_title">
                        Contact us
                    </div>
                    <div class="footer_column_images">
                        <div class="footer_column_images_insta">
                            <img src="/static/assets/images/contacts/insta.png" alt="insta">
                        </div>
                        <div class="footer_column_images_facebook">
                            <img src="/static/assets/images/contacts/facebook.png" alt="facebook">
                        </div>
                        <div class="footer_column_images_youtube">
                            <img src="/static/assets/images/contacts/youtube.png" alt="youtube">
                        </div>
                        <div class="footer_column_images_pinterest">
                            <img src="/static/assets/images/contacts/pinterest.png" alt="pinterest">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer_copyright">
            2025 JR Customs Expressions. All Rights Reserved.
        </div>
    </div>
</body>
<script src="/static/js/home.js"></script>
<link rel="stylesheet" href="/static/css/home.css"/>
</html>
