<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR Customs Expressions</title>
</head>
<body>
    <div id="header"></div>
    <div id="welcome">
        <img id=home_logo src="/static/assets/images/jr_home_logo.png" alt="logo"/>
        <div id="welcome_buttons">
            <div id="welcome_about">
                <a onclick="scrollInto('about')">
                    About
                </a>
            </div>
            <div id="welcome_reviews">
                <a onclick="scrollInto('reviews')">
                    Reviews
                </a>
            </div>
        </div>
    </div>

    <div id="products">
        <div id="products_header">
            <div id="products_header_title">
                Products
            </div>
            <div id="products_header_input">
                <div id="products_header_search">
                    <label for="products_header_search_input"></label>
                    <input id="products_header_search_input" placeholder="Search Product"/>
                    <a id="products_header_search_button">
                       <img id="products_header_search_image" src="/static/assets/images/search.png" alt="search"/>
                    </a>
                </div>
                <div id="products_header_filter">
                    <a id="products_header_filter_new">
                        New!
                    </a>
                    <a id="products_header_filter_featured">
                        Featured
                    </a>
                    <a id="products_header_popular">
                        Popular
                    </a>
                </div>
            </div>
        </div>
        <div id="products_content">
            <div id="products_content_header">
                <div id="products_content_header_title">
                    Results of "Test"
                </div>
                <div id="products_content_header_page">
                    <div id="products_content_header_page_label">
                        Page 1 of 5
                    </div>
                    <div id="products_content_header_page_nav">
                        something
                    </div>
                </div>
            </div>
            <div id="products_content_results">
                <div class="product_template">
                    <a href="/page/product">
                        <img src="/static/assets/images/Image_Test_Template.png" alt="test"/>
                        <div class="product_template_name">Name of the product</div>
                        <div>$6.99</div>
                        <div>In stock</div>
                    </a>
                </div>
                <div class="product_template">
                    <a>
                        <img src="/static/assets/images/Image_Test_Template.png" alt="test"/>
                        <div class="product_template_name">Name of the product, can be super, super long too.</div>
                        <div>$6.99</div>
                        <div>In stock</div>
                    </a>
                </div>
                <div class="product_template">
                    <a>
                        <img src="/static/assets/images/Image_Test_Template.png" alt="test"/>
                        <div class="product_template_name">Name of the product, can be super, super long too.</div>
                        <div>$6.99</div>
                        <div>In stock</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="tumblrs" class="promotion">
        <div id="tumblrs_left_div" class="promotion_labels">
            <div id="tumblrs_title" class="promotion_title">
                Check out our Tumblrs!
            </div>
            <div id="tumblrs_description" class="promotion_description">
                Including whatever to make this description long enough for testing.
            </div>
            <div id="tumblrs_button" class="promotion_button">
                <a>
                    Shop for tumblrs
                </a>
            </div>
        </div>
        <div id="tumblrs_right_div" class="promotion_image">
            <img src="/static/assets/images/tumblrs.jpg" alt="tumblr"/>
        </div>
    </div>

    <div id="onesies" class="promotion">
        <div id="onesies_left_div" class="promotion_image">
            <img src="/static/assets/images/onesies.webp" alt="onesies"/>
        </div>
        <div id="onesies_right_div" class="promotion_labels">
            <div id="onesies_title" class="promotion_title">
                Check out our Onesies!
            </div>
            <div id="onesies_description" class="promotion_description">
                Including whatever to make this description long enough for testing.
            </div>
            <div id="onesies_button" class="promotion_button">
                <a>
                    Shop for onesies
                </a>
            </div>
        </div>
    </div>

    <div id="plushies" class="promotion">
        <div id="plushies_left_div" class="promotion_labels">
            <div id="plushies_title" class="promotion_title">
                Check out our Plushies!
            </div>
            <div id="plushies_description" class="promotion_description">
                Including whatever to make this description long enough for testing.
            </div>
            <div id="plushies_button" class="promotion_button">
                <a>
                    Shop for plushies
                </a>
            </div>
        </div>
        <div id="plushies_right_div" class="promotion_image">
            <img src="/static/assets/images/plushies.webp" alt="plushies"/>
        </div>
    </div>

    <div id="about">
        <div id="about_header">
            <div id="about_header_title">
                About
            </div>
        </div>
        <div id="about_content">
            <div id="about_picture">
                <img src="/static/assets/images/jr_second_logo.png" alt="me"/>
            </div>
            <div id="about_text">
                <p>
                    This is a test to see how good the width is for this about section! Welcome to JRs!
                </p>
            </div>
        </div>
    </div>

    <div id="reviews">
        <div id="reviews_header">
            <div id="reviews_header_title">
                Reviews
            </div>
        </div>
        <div id="reviews_stars">
            <div id="reviews_stars_total">
                0 stars
            </div>
            <div id="reviews_stars_rating">
                <img src="/static/assets/images/review_star_blank.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_blank.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_blank.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_blank.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_blank.png" alt="star_full"/>
            </div>
            <div id="reviews_stars_description">
                0 Reviews
            </div>
            <div id="reviews_stars_stats">
                <div id="reviews_stars_stats_5">
                    <div class="rate_number">5</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="rate_total">0</div>
                </div>
                <div id="reviews_stars_stats_4">
                    <div class="rate_number">4</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="rate_total">0</div>
                </div>
                <div id="reviews_stars_stats_3">
                    <div class="rate_number">3</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="rate_total">0</div>
                </div>
                <div id="reviews_stars_stats_2">
                    <div class="rate_number">2</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="rate_total">0</div>
                </div>
                <div id="reviews_stars_stats_1">
                    <div class="rate_number">1</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="current_rate_rectangle"></div>
                    <div class="rate_total">0</div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>

<script src="/static/js/base.js"></script>
<script src="/static/js/extras.js"></script>
<script src="/static/js/home.js"></script>

<link rel="stylesheet" href="/static/css/base/base.css"/>
<link rel="stylesheet" href="/static/css/base/header.css"/>
<link rel="stylesheet" href="/static/css/base/footer.css"/>
<link rel="stylesheet" href="/static/css/home.css"/>

</html>