<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR Customs Expressions</title>
</head>
<body>
    <div id="header"></div>

    <div id="item">
        <div id="item_images">
            <div id="item_extra_images">
                <img src="/static/assets/images/Image_Test_Template.png" alt="Test"/>
                <img src="/static/assets/images/Image_Test_Template.png" alt="Test"/>
                <img src="/static/assets/images/Image_Test_Template.png" alt="Test"/>
                <img src="/static/assets/images/Image_Test_Template.png" alt="Test"/>
                <img src="/static/assets/images/Image_Test_Template.png" alt="Test"/>
            </div>
            <div id="item_current_image">
                <img src="/static/assets/images/Image_Test_Template.png" alt="Test"/>
            </div>
        </div>
        <div id="item_metadata">
            <div class="item_metadata_section">
                <div id="item_metadata_top_column">
                    <div id="item_metadata_name">
                        Name of the item.
                    </div>
                    <div id="item_metadata_like">
                        Heart
                    </div>
                </div>
                <div id="item_metadata_author">
                    Jessy
                </div>
                <div id="item_metadata_price">
                    $9.99
                </div>
                <div id="item_metadata_quantity">
                    20 items | In stock
                </div>
                <div id="item_metadata_reviews">
                    <div id="item_metadata_reviews_stars">
                        <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                        <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                        <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                        <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                        <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                    </div>
                    <div id="item_metadata_reviews_info">
                        5 stars | 69 reviews
                    </div>
                </div>
            </div>
            <div class="item_metadata_section">
                <div id="item_metadata_checkout">
                    <div id="item_metadata_checkout_quantity">
                        <div id="item_metadata_checkout_quantity_subtract">
                            -
                        </div>
                        <div id="item_metadata_checkout_quantity_amount">
                            1
                        </div>
                        <div id="item_metadata_checkout_quantity_add">
                            +
                        </div>
                    </div>
                    <div id="item_metadata_checkout_button">
                        Add to cart
                    </div>
                </div>
                <div id="item_metadata_description">
                    <div id="item_metadata_description_title">
                        Description
                    </div>
                    <div id="item_metadata_description_content">
                        This is a test to input any item description you want for this item!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="reviews">
        <div id="reviews_header">
            <div id="reviews_header_title">
                Reviews
            </div>
        </div>
        <div id="reviews_stars">
            <div id="reviews_stars_total">
                5 stars
            </div>
            <div id="reviews_stars_rating">
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
            </div>
            <div id="reviews_stars_description">
                69 Reviews
            </div>
            <div id="reviews_stars_stats">
                <div id="reviews_stars_stats_5">
                    <div class="rate_number">5</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="rate_total">30</div>
                </div>
                <div id="reviews_stars_stats_4">
                    <div class="rate_number">4</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="rate_total">0</div>
                </div>
                <div id="reviews_stars_stats_3">
                    <div class="rate_number">3</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="rate_total">0</div>
                </div>
                <div id="reviews_stars_stats_2">
                    <div class="rate_number">2</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="rate_total">0</div>
                </div>
                <div id="reviews_stars_stats_1">
                    <div class="rate_number">1</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="current_rate_rectangle"></div>
                    <div class="rate_total">0</div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>

<script src="/static/js/base.js"></script>
<script src="/static/js/item.js"></script>

<link rel="stylesheet" href="/static/css/base/base.css"/>
<link rel="stylesheet" href="/static/css/base/header.css"/>
<link rel="stylesheet" href="/static/css/base/footer.css"/>
<link rel="stylesheet" href="/static/css/item.css"/>

</html>