<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR Customs Expressions - Checkout</title>
</head>
<body>
    <div id="header"></div>

    <div id="footer"></div>
</body>

<script src="/static/js/base.js"></script>
<script src="/static/js/extras.js"></script>
<script src="/static/js/order_checkout.js"></script>

<link rel="stylesheet" href="/static/css/base/base.css"/>
<link rel="stylesheet" href="/static/css/base/header.css"/>
<link rel="stylesheet" href="/static/css/base/footer.css"/>
<link rel="stylesheet" href="/static/css/order_checkout.css"/>

</html>