<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JR Customs Expressions - Product</title>
</head>
<body>
    <div id="header"></div>

    <div id="product">
        <div id="product_images">
            <div id="product_extra_images">
                <img src="/static/assets/images/Image_Test_Template.png" alt="Test"/>
                <img src="/static/assets/images/Image_Test_Template.png" alt="Test"/>
                <img src="/static/assets/images/Image_Test_Template.png" alt="Test"/>
                <img src="/static/assets/images/Image_Test_Template.png" alt="Test"/>
                <img src="/static/assets/images/Image_Test_Template.png" alt="Test"/>
            </div>
            <div id="product_current_image">
                <img src="/static/assets/images/Image_Test_Template.png" alt="Test"/>
            </div>
        </div>
        <div id="product_metadata">
            <div class="product_metadata_section">
                <div id="product_metadata_top_column">
                    <div id="product_metadata_name">
                        Name of the product.
                    </div>
                    <div id="product_metadata_like">
                        <a id="product_metadata_like_button">
                            <img src="/static/assets/images/like.png" alt="like"/>
                        </a>
                    </div>
                </div>
                <div id="product_metadata_author">
                    Jessy
                </div>
                <div id="product_metadata_price">
                    $9.99
                </div>
                <div id="product_metadata_quantity">
                    20 products | In stock
                </div>
                <div id="product_metadata_reviews">
                    <div id="product_metadata_reviews_stars">
                        <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                        <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                        <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                        <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                        <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                    </div>
                    <div id="product_metadata_reviews_info">
                        5 stars | 69 reviews
                    </div>
                </div>
            </div>
<!--            <div class="product_metadata_section">-->
<!--                <div id="product_metadata_color">-->
<!--                    <div id="product_metadata_color_title">-->
<!--                        Color: [COLOR]-->
<!--                    </div>-->
<!--                    <div id="product_metadata_color_options">-->
<!--                        <div class="select">-->
<!--                            <a>-->
<!--                                <img src="/static/assets/images/checkmark.png" alt="check"/>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="product_metadata_section">
                <div id="product_metadata_checkout">
                    <div id="product_metadata_checkout_quantity">
                        <a id="product_metadata_checkout_quantity_subtract">
                            -
                        </a>
                        <div id="product_metadata_checkout_quantity_amount">
                            1
                        </div>
                        <a id="product_metadata_checkout_quantity_add">
                            +
                        </a>
                    </div>
                    <a id="product_metadata_checkout_button">
                        Add to cart
                    </a>
                </div>
                <div id="product_metadata_description">
                    <div id="product_metadata_description_title">
                        Description
                    </div>
                    <div id="product_metadata_description_content">
                        This is a test to input any product description you want for this product!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="product_suggestions">

    </div>

    <div id="reviews">
        <div id="reviews_header">
            <div id="reviews_header_title">
                Reviews
            </div>
        </div>
        <div id="reviews_stars">
            <div id="reviews_stars_total">
                5 stars
            </div>
            <div id="reviews_stars_rating">
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
                <img src="/static/assets/images/review_star_full.png" alt="star_full"/>
            </div>
            <div id="reviews_stars_description">
                69 Reviews
            </div>
            <div id="reviews_stars_stats">
                <div id="reviews_stars_stats_5">
                    <div class="rate_number">5</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="rate_total">30</div>
                </div>
                <div id="reviews_stars_stats_4">
                    <div class="rate_number">4</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="rate_total">0</div>
                </div>
                <div id="reviews_stars_stats_3">
                    <div class="rate_number">3</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="rate_total">0</div>
                </div>
                <div id="reviews_stars_stats_2">
                    <div class="rate_number">2</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="rate_total">0</div>
                </div>
                <div id="reviews_stars_stats_1">
                    <div class="rate_number">1</div>
                    <img src="/static/assets/images/review_star_full.png" alt="star full"/>
                    <div class="rate_rectangles">
                        <div class="rate_background"></div>
                        <div class="rate_foreground"></div>
                    </div>
                    <div class="current_rate_rectangle"></div>
                    <div class="rate_total">0</div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>

<script src="/static/js/base.js"></script>
<script src="/static/js/extras.js"></script>
<script src="/static/js/product.js"></script>

<link rel="stylesheet" href="/static/css/base/base.css"/>
<link rel="stylesheet" href="/static/css/base/header.css"/>
<link rel="stylesheet" href="/static/css/base/footer.css"/>
<link rel="stylesheet" href="/static/css/product.css"/>

</html>