<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRCustomsExpressions - Login</title>
    <link rel="stylesheet" href="/static/styles/login_page/login/style.css" />
</head>
<body>
    <div class="login">
        <div class="login_rectangle">
            <div class="logo">
                <img src="/static/assets/images/jr_home_logo.png" alt="Home Logo"/>
            </div>
            <div class="login_welcome_text">
                Login
            </div>
            <div class="login_label">
                <label>
                    <input class="login_username" type="text" placeholder="Username">
                </label>
            </div>
            <div class="login_label">
                <label>
                    <input class="login_password" type="password" placeholder="Password">
                </label>
            </div>
            <a class="login_button" onclick="login()">
                Login
            </a>
        </div>
    </div>
</body>
<script>
    function login(){
        alert("Login intruder!")
        window.location.replace("/")
    }
</script>
</html>