body {
    margin: 0;
}

a:hover {
    cursor: pointer;
}

.mcnav_seller_items {
    display: flex;
    flex-direction: column;
}

.mcnav_seller_items_header {
    font-size: 1.75rem;
    font-weight: bold;
    margin: 12px;
    user-select: none;
}