<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JRCustomsExpressions - Sign up</title>
    <link rel="stylesheet" href="/static/styles/login_page/register/style.css" />
</head>
<body>
    <div class="login">
        <div class="login_rectangle">
            <div class="logo">
                <img src="/static/assets/images/jr_home_logo.png" alt="Home Logo"/>
            </div>
            <div class="login_welcome_text">
                Sign up
            </div>
            <div class="login_label">
                <label>
                    <input class="login_email" type="text" placeholder="Email">
                </label>
            </div>
            <div class="login_label">
                <label>
                    <input class="login_username" type="text" placeholder="Username">
                </label>
            </div>
            <div class="login_label">
                <label>
                    <input class="login_password" type="password" placeholder="Password">
                </label>
            </div>
            <div class="login_sublabel">
                <div class="remember_me">
                    <a class="remember_me_box" onclick="remember_me()">
                        <img id="checkmark" src="/static/assets/images/checkmark.png" alt="check"/>
                    </a>
                    <div class="remember_me_label">
                        Remember me?
                    </div>
                </div>
            </div>
            <a class="login_button" onclick="register()">
                Register
            </a>
            <div class="third-party-logins">
                <div class="third-party-logins-label">
                    Sign up with
                </div>
                <div class="third-party-logins-icons">
                    <a class="facebook">
                        <img src="/static/assets/images/facebook.png" alt="facebook"/>
                    </a>
                    <a class="instagram">
                        <img src="/static/assets/images/instagram.webp" alt="instagram"/>
                    </a>
                    <a class="linkedin">
                        <img src="/static/assets/images/linkedin.webp" alt="linkedin"/>
                    </a>
                </div>
            </div>
            <div class="other_login">
                <div>
                    <label>
                        Already have an account?
                    </label>
                </div>
                <a class="other_login_a" onclick="login_page()">
                    Sign in!
                </a>
            </div>
        </div>
    </div>
</body>
<script>

    let remember_me_value = true;

    function login_page(){
        window.location.replace("/login/")
    }

    function register(){
        alert("Registered!")
        window.location.replace("/")
    }

    function remember_me(){
        let visibility = "hidden"
        remember_me_value = !remember_me_value
        if (remember_me_value) visibility = "visible"
        document.getElementById("checkmark").style.visibility = visibility
    }

    remember_me()
</script>
</html>