<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item</title>
    <link rel="stylesheet" href="../../static/code/item/style.css" />
</head>
<body>
    <nav class="header"></nav>
    <script src="../../static/code/header.js"></script>
    <div class="objects">
        <div class="item-container">
            <div class="item-images">
                <a class="item-image">
                    <img alt="image1" src="../../static/assets/images/blank%20highlight.jpg"/>
                </a>
                <a class="item-image">
                    <img alt="image2" src="../../static/assets/images/blank%20highlight.jpg"/>
                </a>
                <a class="item-image">
                    <img alt="image3" src="../../static/assets/images/blank%20highlight.jpg"/>
                </a>
                <a class="item-image">
                    <img alt="image4" src="../../static/assets/images/blank%20highlight.jpg"/>
                </a>
                <a class="item-image">
                    <img alt="image5" src="../../static/assets/images/blank%20highlight.jpg"/>
                </a>
            </div>
            <div class="item-main-image">
                <a class="item-main-image-left-button">

                </a>
                <div class="item-main-image-area">
                    <img alt="Item"
                    src="../../static/assets/images/blank%20highlight.jpg"
                    />
                </div>
                <a class="item-main-image-right-button">

                </a>
            </div>
            <div class="item-details">
                <div class="item-name">
                    Item Name
                </div>
                <div class="item-code">
                    Code: abcdefghijkl
                </div>
                <div class="item-reviews">
                    Reviews
                </div>
                <div class="item-price">
                    $69.69
                </div>
                <div class="item-quantity">
                    Status: In Stock
                </div>
                <div class="item-cart-button">
                    Add to cart
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../static/code/item/scripts/item.js"></script>
</html>